#bd-wrapper {

}

.canvas-container {
    width: 1920px;
    height: 1080px;
}

.tools {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: move;
}

#drawing-mode {
    margin-bottom: 10px;
    vertical-align: top;
}

#drawing-mode-options {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #f5f2f0;
    padding: 10px;
}

.colors {
    display: inline-block;
}

.colors div {
    height: 20px;
    width: 20px;
    display:  inline-block;
    vertical-align: middle;
    cursor: pointer;
}

label {
    display: inline-block;
    width: 130px;
    margin-bottom: 10px;
}

.info {
    display: inline-block;
    width: 25px;
    background: #ffc;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 11;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #64CEAA;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
